@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fff8eb;
    font-family: 'Alice', serif;
    font-size: 1rem;
    color: #373f47;
}

h1 {
    font-family: 'Sacramento', cursive;
    padding: 5%;
    letter-spacing: 4px;
    font-size: 3rem;
    color:#373f47;
}

h2 {
    font-family: 'Sacramento', cursive;
    letter-spacing: 4px;
    font-size: 2rem;
    color:#373f47;
}

p {
    font-family: 'Alice', serif;
    letter-spacing: 4px;
    font-size: 1rem;
    color:#373f47;
}

.heading {
    text-decoration: none;

}
.heading > h1 {
    color:#fff8eb;
}

.head {
    background-color:#d75b5b ;
}

/* navigation links */
.menu {
    font-size: 1rem;
    letter-spacing: 4px;
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
}

.menu li {
    list-style-type: none;
    margin-right: 30px;
    padding: 1rem 1rem;
}

.menu li:hover {
    background-color: #d75b5b;
    color: #fff8eb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu a {
    text-decoration: none;
    color: inherit;
    
}

/* images */
.link-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin:0 auto;
}

.mind-img {
    background: url('../images/mind.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.body-img {
    background: url('../images/body.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.soul-img {
    background: url('../images/soul.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.stress-img {
    background: url('../images/stress.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sleep-img {
    background: url('../images/sleep.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* footer */
footer {
    background-color: #77A6B6;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 2rem;
    margin: 1%;
    padding: 5%;
    color: #fff8eb;
    height:200px; 
}

.foot {
    background-color: #77A6B6;
    clear: both;
    position: relative;
    height: 200px;
    margin-top: 150px;
}

.index-wide {
    display: flex;
    justify-content: space-evenly;
}

.link-title {
    text-align: center;
    padding: 3rem 0 2.5rem;
}

.links-additional-text {
    font-family: 'Alice', serif;
    letter-spacing: 4px;
    font-size: 1rem;
    color:#373f47;
    padding: 3rem 1rem;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.center-text > ul > li  {
    padding: 1rem 1rem;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    list-style: none;
}

.submit {
    font-family: 'Sacramento', cursive;
    padding: 1rem 2rem;
    letter-spacing: 4px;
    font-size: 2rem;
    color:#373f47;
    background-color: #dd7373 ;
    border-radius: 10px;
}

.submit:hover {
    background-color: #373f47;
    color:#dd7373;
}

.text-input {
    padding: 1%;
}

@media only screen and (max-width: 940px) {
    .index-wide {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .menu {
        justify-content: center;
    }

    .menu li:first-child {
        margin-right: 0px;
    }
    
    .body-wide {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
  }
@media only screen and (max-width: 600px) {
    .heading > h1 {
        text-align: center;
    }
  }

@media only screen and (max-width: 450px) {
    .menu {
        flex-direction: column;
        text-align: center;
    }

    .menu li:first-child {
        margin: 0;
    }
 
    .menu li {
        margin: 0;
        border-radius: 10px;
    }
  }