@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fff8eb;
    font-family: 'Alice', serif;
    font-weight: 300;
    color: #373f47;
}


.heading {
  
    color:#fff8eb;
}

h1 {
    font-family: 'Sacramento', cursive;
    text-decoration: none;
    padding: 5%;
    color: inherit;
    letter-spacing: 4px;
    font-weight: 1200;
    color:#373f47;
}

h2 {
    font-family: 'Sacramento', cursive;
    letter-spacing: 4px;
    font-weight: 600;
    color:#373f47;
}
p {
    font-family: 'Alice', serif;
    letter-spacing: 4px;
    font-weight: 100;
    color:#dd7373;
}

.head {
    background-color:#dd7373 ;
}


/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    font-weight: 600;
    color: #dd7373;
    border-bottom: 3px solid #373f47;
}

.active {
    border-bottom:  3px solid #dd7373;
}


/* images */

.link-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin:0 auto;
}

.mind-img {
    background: url('../images/mind.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.body-img {
    background: url('../images/body.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.soul-img {
    background: url('../images/soul.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}


.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #373f47;
}

.foot {
    background-color: #77A6B6;
}
